{
  "verifyConditions": [
    "@semantic-release/changelog",
    "@semantic-release/git"
  ],
  "prepare": [
    "@semantic-release/changelog",
    "@semantic-release/npm",
    {
      "path": "@semantic-release/git",
      "message": "chore(release): ${nextRelease.version}"
    }
  ],
  "success": "",
  "publish": "",
  "fail": "",
  "branch": "master",
  "npmPublish": false,
  "noCi": true
}
