{
  "verifyConditions": [
    "@semantic-release/changelog",
    "@semantic-release/git"
  ],
  "prepare": [
    "@semantic-release/changelog",
    "@semantic-release/npm",
    {
      "path": "@semantic-release/git",
      "message": "chore(release): ${nextRelease.version}"
    }
    {
      "path": "@semantic-release/exec",
      "cmd": "node release.js"
    }
  ],
  "branch": "master",
  "npmPublish": false,
  "noCi": true
}
